@{
    Layout = null;

    Project.cs.Map map = new Project.cs.Map();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="author" content="Cullen Willis">

    <title>Cherwell Application</title>

    <!-- styles for this template -->
    <link href="css/indexStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div id="header-content">
            <p id="header-content-title">Cherwell Application</p>
            <p id="header-content-author">Cullen Willis</p>
        </div>
    </div>

    <div class="content">
        <div id="sketch-holder">
            <!-- Our sketch will go here! -->
        </div>
    </div>
</body>
</html>
